body {
	background: #fdfdfd;
	color: #222222;
	font: 20px/1.6 Georgia, "Times New Roman", serif;
	padding: 2em;
	margin: 0 auto;
	max-width: 650px;
}

input {
	box-sizing: border-box;
	padding: 4px;
}

h1, h2, h3 {
	margin: 1em 0 4px;
	line-height: 1.2;
}

p {
	margin-top: 1em;
}

ol, ul {
	list-style-position: inside;
}

body > ol, body > ul {
	margin: 1em 0 0;
	padding: 0;
}

a {
	color: #4361ee;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

code, pre {
	font-family: ui-monospace, "Segoe UI Mono", "Source Code Pro",  monospace;
	line-height: 1.2;
	background: #eaeaea;
	padding: 1px 2px;
	border-radius: 2px;
}

pre {
	padding: 6px;
	border-radius: 4px;
	overflow-x: auto;
}

blockquote {
	margin: 0;
	padding-left: 1em;
	border-left: solid #888888 3px;
}

img {
	display: block;
	width: 100%;
	height: auto;
	max-height: 500px;
	object-fit: scale-down;
}

figure {
	margin: 0 auto;
	display: table;
}

figcaption {
	color: #888;
	display: table-caption;
	caption-side: bottom;
}

@media (prefers-color-scheme: dark) {
	body {
		background: #1d1d23;
		color: #fbfbfb;
	}

	a {
		color: #7fdeff;
	}

	code, pre {
		background: #18181e;
	}
}

